.navvv {
  background-color: #030712;
  color: #f3f4f6;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}



.logo2 img {
  margin-left: 10px;
  width: 9rem;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #f3f4f6;
  font-size: 17px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #3b82f6;
}
.mainpg{
  animation: opacity0to1 1s ease-in-out;
}
@keyframes opacity0to1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.login-btn {
  background-color: #053786;
  border: none;
  padding: 14px 20px;
  color: white;
  border-radius: 16px;
  transition: 0.3s;
  border-bottom: 3px solid #042863;
  transition: all 1s !important;
  &:active{
    border-bottom: none;
    transform: translate(0px, 3px);
  }
}
.login-btn:hover {
  transform: scale(1.05);
  background-color: #2563eb;
}
.yellowword{
  color: #fbbf24;
  font-weight: bold;
}
.son{
  background-color: #091c38;
  padding: 10px;
}
.statistics-main{
  background-color: #061327;
  margin: 20px;
  padding: 20px;
  border-radius: 40px;
}
.eng-faol{
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 15px;
  background-color: #061327;
}
.hamburger {
  display: none;
  font-size: 24px;
  color: #f3f4f6;
  cursor: pointer;
}
.noting{
  background: none;
  width: 15rem;
}
.noting2{
  width: 22rem;
  border-radius: 30px;
  border-bottom: 5px solid #1d3a92;
  transition: 2s;
  cursor: pointer;
  &:hover{
    border-bottom: none;
    transform: scale(1.1);
  }
}
.hero {
  text-align: center;
  padding: 140px 20px 80px;
}
.howdoesitwork{
  padding: 2rem 0rem;
}
.how22{
  font-weight: bold;
}
.how22 i{
  background-color: #0c193f;
  width: 3rem;
  height: 3rem;
  padding: 10px;
}
.hero h1 {
  font-size: 50px;
  margin-bottom: 20px;
  animation: fadeInDown 1.5s ease;
}
.hero h2 {
  font-size: 30px;
  margin-bottom: 20px;
  animation: fadeInDown 1.5s ease;
}
.hero p {
  font-size: 25px;
  margin-bottom: 30px;
}

.cta-btn {
  background-color: #10b981;
  padding: 12px 30px;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  transition: 0.3s;
}

.cta-btn:hover {
  background-color: #059669;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(12px);
  background-color: rgba(3,7,18, 0.7);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 76px;
    right: 0;
    background-color: rgba(3,7,18, 0.95);
    backdrop-filter: blur(15px) !important;
    flex-direction: column;
    gap: 25px;
    width: 100vw;
    height: 100vh;
    padding: 30px 20px;
    transform: translateX(100%);
    transition: 0.5s ease-out;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
  }
}

footer {
  margin: none !important;
  overflow: hidden !important;
  text-align: center;
  padding: 20px;
  background-color: #111827;
  margin-top: 50px;
}
.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.ctrl-enter{
  font-size: 0.9rem;
}
.bbg li{
  margin-bottom: 3px;
}
.bbg li a{
  color: #f3f4f6;
  font-size: 0.9rem;
  text-decoration: none;
  transition: 0.3s;
  &:hover{
    color: #3b82f6;
  }
}
.footer-logo{
  width: 10rem;
  margin-bottom: 20px;
}
